@media (min-width: 641px) and (max-width: 1199px) {
   .header {
      background-image: url("../images/banner-bg-tablet.jpg");
   }
   .menu-list {
      display: none;
   }
   .header-container {
      width: 91%;
   }
   .header-title {
      width: 79%;
   }
   .trends1 {
      flex-wrap: wrap;
   }
   .trend {
      width: 49.6%;
   }
   .trend:nth-last-child(-n+2) {
      margin-top: 4px;
   }

   .content {
      width: 92%;
   }
   .main-post {
      flex-wrap: wrap;
        }
   .main-posts {
      
      width: 56%;
      margin-right: 5%;
   }
   .container-shop {
      flex-wrap: wrap;
   }

   .section-shop {
      width: 92%;
   }
   .post-shop {
      width: 47.5%;
   }
   .footer {
      width: 92%;
   }
}

@media (min-width: 1200px) {
   .menu__button2 {
      display: none;
   }
}

@media (max-width: 640px) {
   .menu-list {
      display: none;
   }
   
   .trends1 {
      flex-wrap: wrap;
   }
   .trend {
      width: 100%;
   }
   .content {
      flex-wrap: wrap;
   }
   .main-post {
      flex-wrap: wrap;
   }
   .container-shop {
      flex-wrap: wrap;
   }
   .post-shop {
      width: 100%;
   }
   .trend:nth-last-child(-n+3) {
      margin-top: 4px;
   }
}