* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: 'OpenSans-Bold';
   src: url(../fonts/OpenSans-Bold.woff2) format(woff2), url(../fonts/OpenSans-Bold.woff) format(woff), url(..//fonts/OpenSans-Bold.ttf) format(ttf);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../fonts/OpenSans-Regular.woff2) format(woff2), url(../fonts/OpenSans-Regular.woff) format(woff), url(../fonts/OpenSans-Regular.ttf) format(ttf);
   font-weight: 400;
   font-style: normal;
}
.

.header {
   background-image: url("../images/banner-bg.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-color: #000000;
   position: relative;
   z-index: 1;
   width: 100%;
}

.header::after {
   content: "";
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #000000;
   opacity: 0.6;
   position: absolute;
   z-index: -1;
}

.header-container {
   display: flex;
   padding-top: 45px;
   width: 1166px;
   justify-content: space-between;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 110px;
}

.header-logo {
   display: block;
   width: 179px;
}

.menu-list {
   display: flex;
}

.menu-list-item:nth-child(n+2) {
   padding-left: 33px;
}

.menu-list-item {
   list-style-type: none;
}

.menu-link {
   font-size: 13px;
   color: #d7d7d7;
   font-family: OpenSans-Regular, Arial, sans-serif;
   line-height: normal;
   text-transform: uppercase;
}

.header-title {
   text-transform: uppercase;
   font-size: 45px;
   line-height: 75px;
   text-align: center;
   color: #ffffff;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   font-weight: bold;
   padding-bottom: 144px;
   width: 750px;
   margin-left: auto;
   margin-right: auto;
}

.title-trend {
   font-size: 20px;
   color: #0f0d0e;
   font-family: OpenSans-Bold, Arial, sans-serif;
   line-height: normal;
   text-transform: uppercase;
   position: relative;
   text-align: center;
   padding-top: 59px;
   padding-bottom: 43px;
}

.title-trend::after {
   content: "";
   position: absolute;
   width: 65px;
   height: 3px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.trends {
   display: flex;
   margin-bottom: 62px;
   justify-content: space-between;
   }

.images-trend {
   width: 24%;
}

.post-trend:nth-child(n+2) {
   margin-left: 6px;
}

.post-trend {
   position: relative;
   background-color: black;

   
}

.post-trend::after {
   content: "";
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #000000;
   opacity: 0.6;
   position: absolute;
   z-index: 1;
}

.content-trend {
   box-sizing: border-box;
   position: absolute;
   bottom: 5%;
   left: 4%;
   right: 5%;
   z-index: 2;
   border: 3px solid #83754b;
   padding: 35px 45px 32px 35px;
}

.caption {
   line-height: 24px;
   font-family: Open Sans-Bold, sans-serif;
   font-size: 20px;
   color: #ffffff;
   text-transform: uppercase;
   margin-top: 10px;
}

.section-shop {
   width: 1172px;
   margin: auto;
}

.title-shop {
   font-size: 20px;
   color: #0f0d0e;
   font-family: OpenSans-Bold, Arial, sans-serif;
   line-height: normal;
   text-transform: uppercase;
   position: relative;
   text-align: center;
   padding-bottom: 43px;
}

.title-shop::after {
   content: "";
   position: absolute;
   width: 65px;
   height: 3px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.title--shop {
   font-size: 20px;
   line-height: 24px;
   font-family: Open Sans-Bold, Arial, Helvetica, sans-serif;
   color: #0f0d0e;
   text-transform: uppercase;
}

.container-shop {
   display: flex;
   margin-bottom: 297px;
   justify-content: space-between;
   padding-left: 23px;
   padding-right: 23px;
   flex-grow: 1;
}

.image-shop {
   width: 296px;
}

.post-shop {
   position: relative;
}

.content-shop {
   box-sizing: border-box;
   position: absolute;
   top: 84%;
   left: -8.4%;
   right: 8.4%;
   z-index: 2;
   border: 3px solid #83754b;
   width: 347px;
   height: 265px;
   padding: 57px 20px 20px;
}

.caption-shop {
   padding-bottom: 23px;
}

.text-shop {
   font-size: 15px;
   color: #0f0d0e;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   line-height: 22px;
}

.link-shop {
   color: #b59f5b;
}

.product__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product__price_old, .product__price_new {
   display: block;
}

.product__price_old {
   text-decoration: line-through;
   font-size: 14px;
   font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.product__price_new {
   font-size: 20px;
   font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
   line-height: 24px;
   font-weight: bold;
}

.product__button {
   border: none;
   background-color: #b59f5b;
   padding: 19px 28px;
   cursor: pointer;
   text-transform: uppercase;
   font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 700;
   color: #ffffff;
}

.content {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 59px;
   max-width: 1171px;
   justify-content: space-between;
}

.main-post {
   display: flex;
}

.main-post:nth-child(n+2) {
   padding-top: 63px;
}

.main-post-image {
   width: 380px;
   padding-right: 31px;
}

.main-post-text {
   padding-right: 117px;
}

.main-post-text-list {
   display: flex;
   list-style-type: none;
}

.main-post-text-link:nth-child(n+1) {
   padding-right: 21px;
}

.main-post-text-link {
   text-decoration: none;
   font-size: 14px;
   line-height: normal;
   color: #b59f5b;
   font-family: 'OpenSans-Bold', Arial, sans-serif;
   text-transform: uppercase;
   font-weight: bold;
}

.data {
   font-family: OpenSans-Regular, Arial, sans-serif;
   font-size: 12px;
   line-height: normal;
   color: #888888;
   padding-right: 9px;
   padding-bottom: 51px;
   display: inline-block;
}

.author {
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-weight: bold;
   font-size: 12px;
   line-height: normal;
   color: #000000;
}

.main-post-title {
   padding-bottom: 28px;
}

.main-post-title-link {
   text-decoration: none;
   font-size: 20px;
   line-height: 24px;
   color: #0f0d0e;
   font-family: OpenSans-Bold, Arial, sans-serif;
   text-transform: uppercase;
}

.main-post-basic-text {
   font-family: OpenSans-Regular, Arial, sans-serif;
   font-size: 15px;
   line-height: 22px;
   color: #0f0d0e;
   padding-bottom: 22px;
}

.asid-posts {
   width: 273px;
}

.asid-post1 {
   display: flex;
}

.news-post {
   text-align: center;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px;
   color: #0f0d0e;
   text-transform: uppercase;
   position: relative;
   padding-bottom: 35px;
}

.news-post::after {
   content: "";
   position: absolute;
   width: 63px;
   height: 1px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.asid-post1-images1 {
   width: 69px;
   padding-right: 19px;
}

.date1 {
   font-family: OpenSans-Regular, Arial, sans-serif;
   font-size: 12px;
   line-height: normal;
   color: #000000;
   display: block;
}

.aside-post-title-link {
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
   text-transform: uppercase;
   text-decoration: none;
   display: block;
}

.asid-post1:nth-child(n+3) {
   padding-top: 21px;
}

.search {
   display: flex;
   margin-top: 59px;
   margin-bottom: 51px;
}

.field {
   width: 222px;
   height: 47px;
   border: none;
   padding-left: 19px;
   padding-right: 19px;
   font-size: 13px;
   font-family: OpenSans-Regular, Arial, sans-serif;
   background-color: #f4f7f6;
   position: relative;
}

.button {
   border: none;
   width: 47px;
   height: 47px;
   background-image: url("../svg/search.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 21px;
   background-color: #b59f5b;
   font-size: 0;
}

.mailing {
   text-align: center;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px;
   color: #0f0d0e;
   text-transform: uppercase;
   position: relative;
   padding-bottom: 37px;
}

.mailing::after {
   content: "";
   position: absolute;
   width: 63px;
   height: 1px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.field1 {
   box-sizing: border-box;
   width: 270px;
   height: 49px;
   border: none;
   padding-left: 19px;
   padding-right: 19px;
   margin-bottom: 14px;
   display: block;
   font-size: 13px;
   font-family: OpenSans-Regular, Arial, sans-serif;
   background-color: #f4f7f6;
}

.button1 {
   display: block;
   width: 270px;
   height: 46px;
   border: none;
   margin-bottom: 55px;
   display: block;
   font-size: 14px;
   font-family: OpenSans-Bold, Arial, sans-serif;
   color: #ffffff;
   background-color: #b59f5b;
   text-transform: uppercase;
}

.tags {
   text-align: center;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px;
   color: #0f0d0e;
   text-transform: uppercase;
   position: relative;
   padding-bottom: 27px;
}

.tags::after {
   content: "";
   position: absolute;
   width: 63px;
   height: 1px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.list-tags {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 53px;
}

.list-tags-item {
   border: solid 4px #eeeeee;
   list-style-type: none;
   padding: 3px 12px;
   display: inline-block;
}

.list-tags-item:nth-child(n+2) {
   margin-left: 5px;
}

.list-tags-item:nth-child(n+4) {
   margin-left: 0;
}

.list-tags-item:nth-child(n+4) {
   margin-top: 6px;
}

.list-tags-item-link {
   text-decoration: none;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-weight: bold;
   font-size: 12px;
   line-height: normal;
   color: #0f0d0e;
   text-transform: uppercase;
}

.topics {
   text-align: center;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px;
   color: #0f0d0e;
   text-transform: uppercase;
   position: relative;
   padding-bottom: 28px;
}

.topics::after {
   content: "";
   position: absolute;
   width: 63px;
   height: 1px;
   border-bottom: solid;
   color: #e1d9bd;
   display: block;
   margin: auto;
   left: 0;
   right: 0;
}

.list-topics-item {
   list-style-type: none;
   border-bottom: solid 1px #eeeeee;
   padding-bottom: 15px;
}

.list-topics-item:nth-child(n+2) {
   padding-top: 17px;
}

.list-topics-item-link {
   text-decoration: none;
   font-family: OpenSans-Bold, Arial, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: #000000;
   text-transform: capitalize;
}

.topics-numbers {
   font-size: 12px;
   color: #b59f5b;
   font-family: OpenSans-Bold;
   padding-left: 6px;
   vertical-align: top;
}

.footer {
   background-color: #f4f7f6;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 127px;
   width: 1171px;
}

.socials {
   display: flex;
   list-style-type: none;
   justify-content: center;
}

.socials-link {
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   background-size: auto;
   background-color: #f4f7f6;
   background-position: center;
   display: block;
}

.socials-link-twitter {
   background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
   background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
   background-image: url("../svg/002-facebook-logo.svg");
   background-size: 20px;
}

.socials-link-instagram {
   background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
   background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
   position: absolute;
   width: 1px;
   height: 1px;
   clip: rect(1px, 1px, 1px, 1px);
}

.socials-item:nth-child(n+2) {
   padding-left: 30px;
}

.socials-item {
   padding-top: 30px;
   padding-bottom: 30px;
}